{% extends 'base.html' %}
{% block styles %}
<style>
    p,label {
        font:
            1rem 'Fira Sans',
            sans-serif;
        }

        input {
        margin: 0.4rem;
        }

</style>
{% endblock %} 
{% block content %}
    <h1>{% block title %} Exams {% endblock %} </h1>
    <form action="{{url_for('exams.post_to_answer')}}" method="post">
    {% for question in questions%} 
    <div class="card">
        <div class="card-body">
            <div class="container mt-sm-5 my-1">
               <fieldset>
                    <legend>Q.{{ question.id }} {{ question.question}}:</legend>
                    <!-- <input type="hidden" name="question_{{ question.id }}" value="{{ question.id }}"> -->
                    {% for string in  split_string_to_radio(question.options) %}
                        <div>
                            <input type="radio" name="{{ question.id }}" value="0"  />
                            <label for="{{string[0]}}">{{ string[0] }}</label>
                          </div>
                          <div>
                              <input type="radio" name="{{ question.id }}" value="1"  />
                              <label for="{{ string[1]}}">{{ string[1] }}</label>
                          </div>
                          <div>
                              <input type="radio" name="{{ question.id }}" value="2"  />
                              <label for="{{ string[2]}}">{{ string[2] }}</label>
                          </div>
                          <div>
                              <input type="radio" name="{{ question.id }}" value="3" />
                              <label for="{{ string[3]}}">{{ string[3] }}</label>
                          </div>
                    {% endfor %}
                  </fieldset>
                 
              </div>
        </div>
    </div>
    <br>
    {% endfor %}
    <br>
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-start pt-3">
                <!-- <div id="prev">
                    <button class="btn btn-primary">Previous</button>
                </div> -->
                <div id="prev" class="ml-auto mr-sm-5">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
                <!-- <div class="ml-auto mr-sm-5">
                    <button class="btn btn-primary">Next</button>
                </div> -->
            </div>
        </div>
    </form>
{% endblock %}
