<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | Demo</title>

    <!-- General CSS Files -->
    <link rel="stylesheet"  href = "{{ url_for('static', filename='css/app.min.css')}}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='bundles/izitoast/css/iziToast.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bundles/bootstrap-social/bootstrap-social.css') }}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

</head>
<body>
    <div class="loader"></div>
    <div id="app">
      <section class="section">
         {% if current_user.is_authenticated %}
                Hi {{ current_user.firstname }}!  
                <!-- debase#123 -->
        {% endif %}
        <br />
        {% if current_user.is_authenticated and current_user.is_admin == 1 %}
                <a href="{{ url_for('main.index')}}">Home</a>
                <br />
                <a href="{{ url_for('users.index')}}">Users</a>
                <br />
                <a href="{{ url_for('questions.index')}}">Questions</a>
                <!-- <a href="#">Result</a> -->
        {% endif %}

        {% if current_user.is_authenticated and current_user.is_admin == 0 %}
                <a href="#">Take exams</a>
        {% endif %}
        {% if current_user.is_authenticated %}
          <form action="{{ url_for('auth.logout')}}" method="post">
              <button type="submit" class="btn btn-link">Log out</button>
          </form>
        {% endif %}
        {% block content %} {% endblock %}
      </section>
    </div>   
    <!-- General JS Scripts -->
    <script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
    <!-- JS Libraies -->
    <!-- Page Specific JS File -->
    {% block scripts %} {% endblock %} 
    <!-- Template JS File -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <!-- Custom JS File -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
   
    <script src="{{ url_for('static',filename ='bundles/izitoast/js/iziToast.min.js') }}"></script>
    <!-- Page Specific JS File -->
    <script>
        $(document).ready(function() {
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'success' %}
                            iziToast.success({
                              title: "Congratulation !!",
                              message: "{{ message }}",
                               position: 'topRight'
                              });
                        {% elif category == 'error' %}
                            iziToast.error({
                                title: "Error",
                                message: "{{ message }}",
                               position: 'topRight'
                            });
                        {% else %}
                             iziToast.error({
                                title: "Error",
                               message: "{{ message }}",
                               position: 'topRight'
                             });
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        });
    </script>
</body>
</html>